@mixin shop-ui-footer($name: '.footer') {
    #{$name} {
        border-top: rem(1) solid $setting-color-gray-3;
        background-color: #3b5cb1;

        &__top {
            display: flex;
            justify-content: space-between;
            //flex-wrap: wrap;
            //margin: 0 rem(16);
            padding: 15px 0 15px 0;
            margin: 0 60px;

        }
        &__ul{
            li{
                padding: 5px 0;
            }
        }
        &__link {
            font-size: rem(14);
            line-height: 22px;
            font-weight: 500;
            color: $setting-color-white;
        }
        &__link:hover {
            color: $setting-color-white;
            text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
        }
        &__social{
            max-width: 240px;
        }
        &__social-top{
            font-size: 1.125rem;
            font-weight: normal;
            color: $setting-color-white;
            margin: 12px 0 15px 0;
        }
        &__social-bottom{
            color: #fff;
            font-size: 0.875rem;
            word-break: break-word;
            span{
                //font-weight: 600;
            }
        }
        &__links-img{
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
        }
        &__networks-li {
            max-width: 25px;
        }
        &__bottom {
            margin: 0 60px;
            border-top: 1px solid #4268c7;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a {
                line-height: 32px;
                font-size: rem(15);
            }
        }
        @media (max-width: 660px) {
            &__top {
                flex-direction: column;
                text-align: center;
            }
            &__social{
                margin: 0 auto;
            }
            &__bottom {
                flex-direction: column;
                text-align: center;
            }
        }

    }
}

@include shop-ui-footer();
